@import "tailwindcss";

@keyframes fade1 {
  0% { opacity: 1; }
  20% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fade2 {
  0% { opacity: 0; }
  25% { opacity: 0; }
  30% { opacity: 1; }
  45% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fade3 {
  0% { opacity: 0; }
  50% { opacity: 0; }
  55% { opacity: 1; }
  70% { opacity: 1; }
  75% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes fade4 {
  0% { opacity: 0; }
  75% { opacity: 0; }
  80% { opacity: 1; }
  95% { opacity: 1; }
  100% { opacity: 0; }
}

.animate-fade1 {
  animation: fade1 50s infinite;
}

.animate-fade2 {
  animation: fade2 50s infinite;
}

.animate-fade3 {
  animation: fade3 50s infinite;
}

.animate-fade4 {
  animation: fade4 50s infinite;
}